.app-title, .view-title
  margin-left: 0px !important

.divider-vertical
  border-left: 1px #e7e7e7 solid

.view-arrow
  margin-right: 15px

@media (max-width: 767px)
  .view-brand
    display: none
  li.arrow-nav a
    padding-right: 0px !important

.sidebar-nav
  padding: 9px 0;

@media (max-width: 980px)
  .loading-screen
    top: 0px
