@import '~bootstrap/css/bootstrap.css'
@import '~bootstrap/css/bootstrap-responsive.css'
@import '~font-awesome/css/font-awesome.css'

@import common
@import indexPage
@import openModal
@import saveAs
@import updateNotification

.nowrap
  white-space: nowrap

.wrap
  white-space: normal

.strong
  font-weight: bold


.radio-container label
  padding-left: 10px

.radio-container label *
  vertical-align: middle

.radio-container label input
  margin: 0 5px

.hidden-true
  display: none !important

.textedit-input
  margin: 0px !important

.textedit-cell .control-group
  margin: 0px
  display: inline;

.textedit-cell.invalid .textedit-label
  color: #b94a48

.multi-input
  margin: 0px !important

.sortarrow .arrow
  display: none
  height: 1em
  width: 1.5em
  line-height: 1em

th:hover .sortarrow .arrow,
.sortarrow:hover .arrow
  display: inline-block

.muted-true
  opacity: 0.5

.text-center
  text-align: center

.editable-table td.controls,
.editable-table th.controls
  width: 24px
  vertical-align: middle
.editable-table .controls i
  font-size: 130%
.editable-table td
  vertical-align: middle

.editable-table .squeezedElement
  overflow: hidden

.auto-width
  width: auto
.a-width
  width: auto !important

.highlight-button
  opacity: 0.2

.highlight-button:hover
  opacity: 0.5

.highlight-button.edit-true
  opacity: 0.6

.highlight-button.edit-true:hover
  opacity: 0.8

.hlist .item-controls
  transition: width 0.3s
  width: 0px
  overflow: hidden
  display: inline-block
  cursor: default

.hlist .item-controls.enabled-true
  width: 15px

.hlist .item.moveable-true
  cursor: move

.vlist .placeholder
  margin: 0px
  border: 0px
  padding: 0px

.vlist .item
  margin: 0px
  position: relative

.vlist .vlist-content
  margin: 0px
  overflow: auto

.vlist
  position: relative

.inline
  display: inline

.inline-block
  display: inline-block

.valign-middle
  vertical-align: middle


i.highlight-button
  width: 1em
  text-align: center


a.unstyled-link
  color: #000
a.unstyled-link:hover
  text-decoration: none

.heading .textedit-label
  font-size: 36px
  letter-spacing: -1px
  font-weight: bold
  line-height: 1

i.bottom-line
  position: relative
  bottom: -1px
  margin-left: 5px
  opacity: 0.6

i.bottom-line:hover
  opacity: 1

.heading table.stats
  margin-top: 10px

.heading table.stats td
  padding: 10px 50px 0px 0px

.settings-group div,label
  margin: 5px 0px 0px 0px

.settings-group strong:first-child
  margin: 0px

.settings-group strong
  margin: 10px 0px 0px 0px
  display: inline-block

.remove-round
  position:relative
  color: #0088cc
  top: 2px

.small-margin
  margin: 3px

.remove-round:hover
  text-decoration: none

li.active .remove-round
  color: #fff

li.active .remove-round:hover
  color: #005580

.rounded-bullets
  border-radius: 14px
  background:linear-gradient(top, #ededed 5%, #dfdfdf 100%)
  box-shadow:inset 0px 1px 0px 0px #ffffff, 0px 1px 0px 0px #bbbbbb
  background-color:#ededed
  border:1px solid #dcdcdc
  margin-bottom: 1px !important
  color:#777777
  position: relative

  font-size:13px;
  font-weight:normal;
  padding:3px 10px;
  text-decoration:none
  text-shadow:0px 1px 0px #ffffff

.rounded-bullets.pushable:hover
  background:linear-gradient(bottom, #ededed 5%, #dfdfdf 100%)
  background-color:#dfdfdf

.rounded-bullets.red
  background:linear-gradient(top, #d0451b 5%, #bc3315 100%)
  background-color:#d0451b
  border:1px solid #942911
  box-shadow:inset 0px 1px 0px 0px #cf866c
  text-shadow:0px 1px 0px #854629
  color:#ffffff

.rounded-bullets.red.pushable:hover
  background:linear-gradient(bottom, #d0451b 5%, #bc3315 100%)
  background-color:#bc3315

.pairing i.fa-times
  top:50%
  right: 10px
  position: absolute
  margin-top: -7px

.pairing i.fa-exchange
  top:50%
  right: 25px
  position: absolute
  margin-top: -7px

.prop
  color: green-color

.opp
  color: red-color

.prop-opp
  color: blue-color

.manual-pairings .nopairs
  position: relative

.notavailable-,
.notavailable-false,
.notavailable
  display: none

.notavailable-true
  opacity: 0.5
  display: inline-block
  position: relative

.manual-pairings .nopairs i
  position: absolute
  font-size: 20px
  right: 10px
  top: 50%
  margin-top: -10px

.judge-box
  background-color: #f5f5f5
  border: 1px solid #d9d9d9
  border-radius: 3px
  height: 20px
  white-space: nowrap
  padding: 2px 5px
  font-size: 13px
  position: relative

.judge-box:before
  display: none

.judge-selected .judge-box:before,
.judge-selected .room-na:before
  content: ""
  display: block
  background-color: #0088cc
  position: absolute
  top: -1px
  bottom: -1px
  left: -1px
  right: -1px
  border: 1px solid #0088cc
  border-radius: 3px
  opacity: 0.5

.well .judge-box
  background-color: #e8e8e8
  border-color: #bfbfbf

#pairings.showranks-false .judge-rank
  display: none

.judge-rank.judge-rank-0
  color: red-color

.judge-rank.judge-rank-1
  color: yellow-color

.judge-rank.judge-rank-2
  color: green-color

.judge-rank.judge-rank-3
  color: blue-color

.judge-rank.judge-rank-31
  color: gray-color

.judge-rank.judge-rank-32
  color: gray-color

@media screen
  .judge-box.valid-false
    background-color: red-color
    color: #ffffff
    border: 1px solid red-color

  .judge-box.valid-false .judge-rank
    color: #ffffff

@media print
  #pairings.printca-true .judge-box.valid-false
    color: red-color
    border: 1px solid red-color
  #pairings.printca-false .judge-rank
    display: none

.left
  float: left

.right
  float: right

.judge-list .hlist-content
  display: inline;

.judge-list .hlist
  white-space: normal

.hlist-placeholder
  display: none

.hlist-placeholder.hlist-empty
  display: inline-block
  vertical-align: middle
  width: 15px
  height: 20px

.context-menu
  z-index: 1000000

.pair-select select
  max-width: 185px

.pair-select .small-margin
  position: relative
  top: -3px
  margin-right: 7px

.judge-rule .blue-rule .multi-label
  color: blue-color

.judge-rule .verb-0 .multi-label
  color: green-color

.judge-rule .verb-1 .multi-label
  color: red-color

.judge-rule .multi-label.muted-true
  color: red-color
  opacity: 1
  font-weight: bold

.judge-rule .remove-rule
  position: absolute
  top: 50%
  right: 10px
  margin-top: -6px
  opacity: 0.5

.judge-rule .remove-rule:hover
  opacity: 1

.judge-rules .add-rule
  display: block
  margin-top: 7px

i.judge-icon
  border-radius: 3px
  background-color: #ffffff
  color: #6d6d6d
  padding: 2px
  font-size: 80%

i.judge-icon:after
  content: ": "

.compat-false
  background-image: url("../assets/stripes.png")
  background-repeat: repeat

label.checkbox.inline
  position:relative
  top: -1px
  padding-top: 0px
  margin-left: 5px !important
  margin-top: 0px

@media (min-width: 767px)
  .manual-pairings .span4,
  .manual-pairings .span8
    overflow-y: auto
    height: 190px
    padding-bottom: 5px
