h3.print-only.text-center {{tournament.name}} - Clubs
table(editable-table, reorders, model='tournament.clubs', visible='tournament.tableOpts.clubs', add-item='addClub()', remove-item='removeClub(index)')#clubs-table
  thead
    tr
      th(data-auto-index=4) #
      th(data-auto-index=1)
        sort-arrow(model='tournament.clubs', sort-by='o.name') Name
      th(data-auto-index=3)
        sort-arrow(model='tournament.clubs', sort-by='o.teams.length') # Teams
      th(data-auto-index=2)
        sort-arrow(model='tournament.clubs', sort-by='o.judges.length') # Judges
  tbody(editable-tbody, add-item-label='Add club')
    script(type='text/html')
      td {{$index + 1}} 
      td 
        text-edit-cell(bind="o.name")
      td
        | {{o.teams.length}}
      td
        | {{o.judges.length}}

:stylus
  #clubs-table th:nth-child(1)
    width: 35px
  #clubs-table th:nth-child(3)
    width: 15%
  #clubs-table th:nth-child(4)
    width: 15%
