table#clubs-table.table.table-striped.table-bordered
  thead
    tr
      th #
      th
        sort-arrow(model='ui.tournament.clubs', sort-by='o.name') Name
      th
        sort-arrow(model='ui.tournament.clubs', sort-by='o.teams.length') # Teams
  tbody
    tr(ng-repeat="club in ui.tournament.clubs", ng-init="hover = false", ng-mouseenter="hover = true", ng-mouseleave="hover = false")
      td {{$index + 1}} 
      td 
        div(text-edit-cell, text-edit-bind="club.name")
      td(colspan="{{noColumns(hover)}}")
        | {{club.teams.length}}
      td(ng-show="hover").controls 
        i(ng-click="removeClub($index)").close.icon-remove

    tr: td(colspan=4): a(tabindex=0, href="", ng-click="addClub()")
      i.icon-plus
      |  Add club


:stylus
  #clubs-table th:first-child
    width: 35px
  #clubs-table th:nth-child(2)
    width: 70%
  #clubs-table td.controls
    width: 10px
  #clubs-table td.controls i
    font-size: 130%
  #clubs-table td
    vertical-align: middle
