.well.well-large
  .heading
    text-edit-cell(bind='tournament.name').heading
      i.icon-edit.bottom-line
    table.stats
      tr
        td Teams: {{tournament.teams.length}}
        td Judges: {{tournament.judges.length}}
      tr
        td Debaters: {{tournament.players.length}}
        td Rounds: {{tournament.rounds.length}}
.row-fluid 
  .span6
    .well.settings-group
      strong Global settings
      div
        span Ballots per match: 
        text-edit-cell(bind='tournament.ballotsPerMatch', input-width='50', pattern='[0-9]*', setter='parseInt(o)')
          i.icon-edit.bottom-line
      div
        span Min. played rounds to reach speaker tab: 
        text-edit-cell(bind='tournament.minPlayed', input-width='50', pattern='[0-9]*', setter='parseInt(o)')
          i.icon-edit.bottom-line
    .well.pair-rules-group
      strong Pairing rank criteria

  .well.judge-rules-group.span6
    strong Judging rules 
