.well.well-large
  .heading
    text-edit-cell(bind='tournament.name').heading
      i.fa.fa-fw.fa-edit.bottom-line
    table.stats
      tr
        td Teams: {{tournament.teams.length}}
        td Judges: {{tournament.judges.length}}
      tr
        td Debaters: {{tournament.players.length}}
        td Rounds: {{tournament.rounds.length}}
.row-fluid 
  .span6
    .well.settings-group
      strong Global settings
      div
        span Ballots per match: 
        multi-cell(bind='tournament.ballotsPerMatch', input-width='50', choices='ballotsPerMatchOptions', choice-name='o')
          i.fa.fa-fw.fa-edit.bottom-line
      div
        span Min. played rounds to reach speaker tab: 
        text-edit-cell(bind='tournament.minPlayed', input-width='50', pattern='[0-9]*', setter='parseInt(o)')
          i.fa.fa-fw.fa-edit.bottom-line
      div
        span Allow shadow judges:
        label.checkbox.inline
          input(type='checkbox' ng-model='tournament.allowShadows')
          span {{yesNo(tournament.allowShadows, "Yes", "No")}}
    .well.pair-rules-group.settings-group
      strong Pairing rank criteria
      sorter-criteria(bind='tournament.pairRankSorter')
  .span6
    .well.judge-rules-group.settings-group
      strong Judging assignment rules 
      div
        span Max. main judges:
          multi-cell(bind='tournament.maxMainJudges', input-width='100', choices='maxPanelChoices', choice-name='infinityName(o,infinity,"Unlimited")')
            i.fa.fa-fw.fa-edit.bottom-line
      div
        span Max. shadow judges:
          multi-cell(bind='tournament.maxShadowJudges', input-width='100', choices='maxPanelChoices', choice-name='infinityName(o,infinity,"Unlimited")')
            i.fa.fa-fw.fa-edit.bottom-line
      div
        span Max. panel size:
          multi-cell(bind='tournament.maxPanelSize', input-width='100', choices='maxPanelChoices', choice-name='infinityName(o,infinity,"Unlimited")')
            i.fa.fa-fw.fa-edit.bottom-line
    .well.settings-group.high-low-group
      strong High-Low power pairing defaults
      div
        span Min. matches per bracket:
        text-edit-cell(bind='tournament.matchesPerBracket', input-width='50', pattern='[0-9]*', setter='parseInt(o)')
          i.fa.fa-fw.fa-edit.bottom-line
      div.radio-container
        div Even brackets by:
        label 
          input(type='radio', ng-model='tournament.evenBrackets', ng-value='0') 
          span pulling down leftover teams
        label
          input(type='radio', ng-model='tournament.evenBrackets', ng-value='1') 
          span pulling up teams with weakest previous opponents
          

