h3.print-only.text-center {{tournament.name}} - Judges
table(editable-table, model='tournament.judges', visible='tournament.tableOpts.judges', add-item='addJudge()', remove-item='removeJudge(index)')#judges-table
  thead
    tr
      th(data-auto-index=3) #
      th(data-auto-index=1)
        sort-arrow(model='tournament.judges', sort-by='o.name') Name
      th(data-auto-index=2)
        sort-arrow(model='tournament.judges', sort-by='eliminateNil(o.club.name)') Club
  tbody(editable-tbody, add-item-label='Add judge')
    script(type='text/html')
      td {{$index + 1}}
      td
        div(text-edit-cell, text-edit-bind="o.name")
      td(ng-init='initRepeat(this)')
        div(multi-cell, multi-bind="o.club", multi-choices="tournament.clubs", multi-allow-nil='unaffiliated', multi-choice-name="o.name")

:stylus
  #judges-table th:nth-child(1)
    width: 35px
  #judges-table th:nth-child(2)
    width: 30%
