h3.print-only.text-center {{tournament.name}} - Rooms
table(editable-table, reorders, model='tournament.rooms', visible='tournament.tableOpts.rooms', add-item='addRoom()', can-remove-item='canRemoveRoom(o)', remove-item='removeRoom(index)')#rooms-table
  thead
    tr
      th(data-auto-index=3) #
      th(data-auto-index=1)
        sort-arrow(model='tournament.rooms', sort-by='o.name') Name
      th(data-auto-index=2)
        sort-arrow(model='tournament.rooms', sort-by='o.floor') Floor
  tbody(editable-tbody, add-item-label='Add room')
    script(type='text/html')
      td {{$index + 1}}
      td
        text-edit-cell(bind="o.name")
      td
        text-edit-cell(bind="o.floor")
