ul.nav.nav-tabs
  li.active
    a(href='#teams', data-toggle='tab') Teams
  li
    a(href='#judges', data-toggle='tab') Judges
  li
    a(href='#rooms', data-toggle='tab') Rooms
  li
    a(href='#settings', data-toggle='tab') Settings
 
div.tab-content
  div#teams.tab-pane.active
    div#team-list(ng-show='!round.paired')
      .control-group
        .btn-group.inline
          button(ng-click='addAllTeams()').btn
            i.icon-check
            |  all
          button(ng-click='removeAllTeams()').btn
            i.icon-check-empty
            |  all
        button(ng-click='sortByRank()').btn Sort by pairing rank
        button(ng-click='pair()').btn.btn-danger Pair
        div.inline.small-margin Check teams that are to play this round.

      table(editable-table, model='round.teams', visible='round.tableOpts.teams', reorders)#round-teams-table
        thead
          tr
            th(data-auto-index=5) #
            th(data-auto-index=4)
              sort-arrow(model='round.teams', sort-by='o.rounds[round.id].participates', hide-arrows)
                i.icon-check
            th(data-auto-index=3)
              sort-arrow(model='round.teams', sort-by='o.name') Team name
            th(data-auto-index=2)
              sort-arrow(model='round.teams', sort-by='eliminateNil(o.club.name)') Club
        tbody(editable-tbody)
          script(type='text/html')
            td {{$index + 1}}
            td
              input(type='checkbox', ng-model='o.rounds[round.id].participates')
            td {{o.name}}
            td: span(class='muted-{{o.club == null}}') {{nilPlaceholder(o.club, {name:"unaffiliated"}).name}}
    div#pairings(ng-show='round.paired')
      .control-group
        button(ng-click='assignJudges()').btn Reassign judges
        button(ng-click='shuffleRooms()').btn Shuffle in rooms
        div.inline.small-margin You can manually drag judges to fine-tune
          
      table(editable-table, model='round.ballots', visible='round.tableOpts.ballots', table-class='table table-bordered table-hover', row-clicked='editBallot($index)', reorders)#round-pairings-table
        thead
          tr
            th(data-auto-index=5) #
            th(data-auto-index=4)
              sort-arrow(model='round.ballots', sort-by='namePlaceholder(o.room.name)') Room
            th(data-auto-index=3)
              sort-arrow(model='round.ballots', sort-by='namePlaceholder(o.teams[0]).name') Prop
            th(data-auto-index=2)
              sort-arrow(model='round.ballots', sort-by='namePlaceholder(o.teams[1]).name') Opp
            th(data-auto-index=1)
              | Judges
        tbody(editable-tbody)
          script(type='text/html')
            td {{$index + 1}}
            td {{namePlaceholder(o.room).name}}
            td {{namePlaceholder(o.teams[0]).name}}
            td {{namePlaceholder(o.teams[1]).name}}
            td

  div#judges.tab-pane
    .control-group
      .btn-group.inline
        button(ng-click='addAllJudges()').btn
          i.icon-check
          |  all
        button(ng-click='removeAllJudges()').btn
          i.icon-check-empty
          |  all
        button(ng-click='removeShadows()').btn 
          i.icon-check-empty
          |  shadows
      div.inline.small-margin Check judges that are available to judge this round.

    table(editable-table, model='round.judges', visible='round.tableOpts.judges', reorders)#round-judges-table
      thead
        tr
          th(data-auto-index=5) #
          th(data-auto-index=4)
            sort-arrow(model='round.judges', sort-by='o.rounds[round.id].participates', hide-arrows)
              i.icon-check
          th(data-auto-index=2)
            sort-arrow(model='round.judges', sort-by='o.name') Name
          th(data-auto-index=1)
            sort-arrow(model='round.judges', sort-by='eliminateNil(o.club.name)') Club
          th(data-auto-index=3)
            sort-arrow(model='round.judges', sort-by='o.rank') Rank
      tbody(editable-tbody)
        script(type='text/html')
          td {{$index + 1}}
          td
            input(type='checkbox', ng-model='o.rounds[round.id].participates')
          td {{o.name}}
          td: span(class='muted-{{o.club == null}}') {{nilPlaceholder(o.club, {name:"unaffiliated"}).name}}
          td {{rankStrings[o.rank]}}

  div#rooms.tab-pane
    .control-group
      .btn-group.inline
        button(ng-click='addAllRooms()').btn
          i.icon-check
          |  all
        button(ng-click='removeAllRooms()').btn
          i.icon-check-empty
          |  all
      div.inline.small-margin Check rooms that are available this round.

    table(editable-table, model='round.rooms', visible='round.tableOpts.rooms', reorders)#round-rooms-table
      thead
        tr
          th(data-auto-index=5) #
          th(data-auto-index=4)
            sort-arrow(model='round.rooms', sort-by='o.rounds[round.id].participates', hide-arrows)
              i.icon-check
          th(data-auto-index=2)
            sort-arrow(model='round.rooms', sort-by='o.name') Name
      tbody(editable-tbody)
        script(type='text/html')
          td {{$index + 1}}
          td
            input(type='checkbox', ng-model='o.rounds[round.id].participates')
          td {{o.name}}

  div#settings.tab-pane
    .row-fluid
      .span6
        .well.settings-group
          strong Settings
          div
            span Ballots per match:
              multi-cell(bind='round.ballotsPerMatch', nil-placeholder='{{tournament.ballotsPerMatch}} (inherited)', input-width='120', choices='ballotsPerMatchOptions', choice-name='o')
                i.icon-edit.bottom-line
        .well
          strong Judge assignment rules
      .span6
        .well.settings-group
          strong Pairing rank criteria
        .well.settings-group
          strong Calculate pairing rank based on:
          div
            label.checkbox
              input(type='checkbox', ng-model='round.rankFrom.all')
              | All previous rounds
            label.checkbox(ng-repeat='o in tournament.rounds', ng-show='o!=round && !round.rankFrom.all')
              input(type='checkbox', ng-model='round.rankFrom[o.id]')
              | Round {{$index+1}}




:stylus
  #round-judges-table th:nth-child(1)
    width: 15px
  #round-judges-table th:nth-child(2)
    width: 10px
  #round-judges-table th:nth-child(3)
    width: 30%
  #round-judges-table th:nth-child(5)
    width: 10%
    
  #round-teams-table th:nth-child(1)
    width: 15px
  #round-teams-table th:nth-child(2)
    width: 10px
  #round-teams-table th:nth-child(3)
    width: 40%
  #round-teams-table th:nth-child(3)
    width: 40%

  #round-pairings-table th:nth-child(1)
    width: 15px
  #round-pairings-table th:nth-child(2)
    width: 10%
  #round-pairings-table th:nth-child(3)
    width: 20%
  #round-pairings-table th:nth-child(4)
    width: 20%

  #round-rooms-table th:nth-child(1)
    width: 15px
  #round-rooms-table th:nth-child(2)
    width: 10px
