h3.print-only.text-center {{tournament.name}} - Teams
table(editable-table, model='tournament.teams', add-item='addTeam()', remove-item='removeTeam(index)')#teams-table
  thead
    tr
      th #
      th
        sort-arrow(model='tournament.teams', sort-by='o.name') Team name
      th
        sort-arrow(model='tournament.teams', sort-by='eliminateNil(o.club.name)') Club
  tbody(editable-tbody, add-item-label='Add team')
    script(type='text/html')
      td {{$index + 1}}
      td
        div(text-edit-cell, text-edit-bind="o.name")
      td(ng-init='initRepeat(this)')
        div(multi-cell, multi-bind="o.club", multi-choices="tournament.clubs", multi-allow-nil='unaffiliated', multi-choice-name="o.name")

:stylus
  #teams-table th:nth-child(2)
    width: 30%
