.well.well-large
  .heading
    text-edit-cell(bind='tournament.name').heading
      i.fa.fa-fw.fa-edit.bottom-line
    table.stats
      tr
        td Teams: {{tournament.teams.length}}
        td Judges: {{tournament.judges.length}}
      tr
        td Debaters: {{tournament.players.length}}
        td Rounds: {{tournament.rounds.length}}
.row
  .col-sm-6
    .well.settings-group
      strong Global settings
      div
        span Ballots per match:&nbsp;
        multi-cell(bind='tournament.ballotsPerMatch', input-width='50', choices='ballotsPerMatchOptions', choice-name='o')
          i.fa.fa-fw.fa-edit.bottom-line
      div
        span Min. played rounds to reach speaker tab:&nbsp;
        text-edit-cell(bind='tournament.minPlayed', input-width='50', pattern='[0-9]*', setter='parseInt(o)')
          i.fa.fa-fw.fa-edit.bottom-line
      div
        span Allow shadow judges:
        label.checkbox.inline
          input(type='checkbox', ng-model='tournament.allowShadows')
          span {{yesNo(tournament.allowShadows, "Yes", "No")}}

    .well.settings-group.high-low-group
      strong High-Low power pairing defaults
      div
        span Min. matches per bracket:&nbsp;
        text-edit-cell(bind='tournament.matchesPerBracket', input-width='50', pattern='[0-9]*', setter='parseInt(o)')
          i.fa.fa-fw.fa-edit.bottom-line
      div.radio-container
        div Even brackets by:
        label
          input(type='radio', ng-model='tournament.evenBrackets', ng-value='0')
          span &nbsp;pulling down leftover teams
        label
          input(type='radio', ng-model='tournament.evenBrackets', ng-value='1')
          span &nbsp;pulling up teams with weakest previous opponents

    .well.pair-rules-group.settings-group
      strong Pairing rank criteria
      sorter-criteria(bind='tournament.pairRankSorter')

    .well.settings-group.format-group
      strong Format settings
      div
        span Constructive speech points range:&nbsp;
        text-edit-cell(bind='tournament.minConstructiveScore', input-width='50', pattern='[0-9.]*', setter='parseFloat(o)')
          i.fa.fa-fw.fa-edit.bottom-line
        span &nbsp;to&nbsp;
        text-edit-cell(bind='tournament.maxConstructiveScore', input-width='50', pattern='[0-9.]*', setter='parseFloat(o)')
          i.fa.fa-fw.fa-edit.bottom-line
      div
        span Reply speech points range:&nbsp;
        text-edit-cell(bind='tournament.minReplyScore', input-width='50', pattern='[0-9.]*', setter='parseFloat(o)')
          i.fa.fa-fw.fa-edit.bottom-line
        span &nbsp;to&nbsp;
        text-edit-cell(bind='tournament.maxReplyScore', input-width='50', pattern='[0-9.]*', setter='parseFloat(o)')
          i.fa.fa-fw.fa-edit.bottom-line

  .col-sm-6
    .well.judge-settings-group.settings-group
      strong Judge assignment settings
      div
        span Max. main judges:&nbsp;
          multi-cell(bind='tournament.maxMainJudges', input-width='100', choices='maxPanelChoices', choice-name='infinityName(o,infinity,"Unlimited")')
            i.fa.fa-fw.fa-edit.bottom-line
      div
        span Max. shadow judges:&nbsp;
          multi-cell(bind='tournament.maxShadowJudges', input-width='100', choices='maxPanelChoices', choice-name='infinityName(o,infinity,"Unlimited")')
            i.fa.fa-fw.fa-edit.bottom-line
      div
        span Max. panel size (mains + shadows):&nbsp;
          multi-cell(bind='tournament.maxPanelSize', input-width='100', choices='maxPanelChoices', choice-name='infinityName(o,infinity,"Unlimited")')
            i.fa.fa-fw.fa-edit.bottom-line

      strong Main judges:
      div
        multi-cell(bind='tournament.judgeMainPriority', input-width='255', choices='priorityChoices', choice-name='priorityChoiceNames[o]')
          i.fa.fa-fw.fa-edit.bottom-line
      div
        multi-cell(bind='tournament.judgeMainOrder', input-width='255', choices='orderChoices', choice-name='orderChoiceNames[o]')
          i.fa.fa-fw.fa-edit.bottom-line

      strong Shadow judges:
      div
        span Use idle mains as shadows:
        label.checkbox.inline
          input(type='checkbox', ng-model='tournament.judgeShadowReport')
          span {{yesNo(tournament.judgeShadowReport, "Yes", "No")}}
      div(ng-show='tournament.judgeShadowReport')
        multi-cell(bind='tournament.judgeShadowPriority', input-width='255', choices='priorityChoices', choice-name='priorityChoiceNames[o]')
          i.fa.fa-fw.fa-edit.bottom-line
      div
        multi-cell(bind='tournament.judgeShadowOrder', input-width='255', choices='orderChoices', choice-name='orderChoiceNames[o]')
          i.fa.fa-fw.fa-edit.bottom-line

    .well.judge-rules-group.settings-group
      strong Judge assignment rules
      div
        judge-rules(model='tournament.judgeRules')



