.navbar.navbar-fixed-top
  .navbar-inner
    .container-fluid
      ul.nav
        li.arrow-nav: a(href="#").action-open.brand
          i.icon-arrow-left
        li.divider-vertical
        li: a(href="#").brand.app-title ARGO Tabs
        li.divider-vertical
        li: a(href="#").brand.view-title

      .btn-group.pull-right
        button(data-loading-text="Saving...", data-saved-text="Saved").btn.btn-info.action-save.view-save Save
        button(data-toggle="dropdown").btn.btn-info.dropdown-toggle.view-save
          span.caret
        ul.dropdown-menu
          li.action-saveas-local
            a(href="#", tabindex='-1').action-saveaslocal Save a copy
          li.action-saveas-download
            a(href="#", tabindex='-1').action-download Download
  
.container-fluid
  .row-fluid
    .span2
      .well.sidebar-nav
        ul.nav.nav-list
          li.nav-header Tournament
          li: a(href="#") Dashboard
          li.nav-header Participants
          li: a(href="#teams") Teams
          li: a(href="#clubs") Clubs
          li: a(href="#judges") Judges
    .span10
      div Content

:stylus
  .view-title, .app-title
    margin-left: -10px !important
