.navbar.navbar-fixed-top
  .navbar-inner
    .container-fluid
      a(href="#").brand.view-title ARGO Tabs
      .btn-group.pull-right
        button(data-loading-text="Saving...", data-saved-text="Saved").btn.btn-info.action-save.view-save Save
        button(data-toggle="dropdown").btn.btn-info.dropdown-toggle.view-save
          span.caret
        ul.dropdown-menu
          li.action-open
            a(href="#", tabindex='-1') Open
          li.fixed-menu.dropdown-submenu
            a(href="#", tabindex='-1') Save as
            ul.dropdown-menu
              li.action-saveas-local
                a(href="#", tabindex='-1').action-saveaslocal New tournament file
              li.action-saveas-download
                a(href="#", tabindex='-1').action-download Download
  
.container-fluid
  .row-fluid
    .span2
      .well.sidebar-nav
        ul.nav.nav-list
          li.nav-header Tournament
          li: a(href="#") Dashboard
          li.nav-header Participants
          li: a(href="#teams") Teams
          li: a(href="#clubs") Clubs
          li: a(href="#judges") Judges
    .span10
      div Content
