.navbar.navbar.navbar-fixed-top
  .navbar-inner
    .container-fluid
      a(href="#").brand ARGO Tabs — Primu' Turneu ARGO 2013
      .btn-group.pull-right
        button.btn.btn-info Save
        button(data-toggle="dropdown").btn.btn-info.dropdown-toggle
          span.caret
        ul.dropdown-menu
          li: a(href="#") Save As
  
.container-fluid
  .row-fluid
    .span2
      .well.sidebar-nav
        ul.nav.nav-list
          li.nav-header Tournament
          li: a(href="#") Dashboard
          li.nav-header Participants
          li: a(href="#teams") Teams
          li: a(href="#clubs") Clubs
          li: a(href="#judges") Judges
    .span10
      div Content
