!!!
html
  head
    meta(charset='utf8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge, chrome=1')
    meta(name='description', content='World Schools Debating tabbing software')
    meta(name='author', content='Marius Petcu')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')

    title Tabs
    
    link(rel='stylesheet', href='css/master.css')
  body
    != yield

  script(src="components/angular/angular.js")
  script(data-main="js/main", src="js/require.js")

  != livereload
