@import '../components/bootstrap/css/bootstrap.css';
@import '../components/bootstrap/css/bootstrap-responsive.css';
@import '../components/font-awesome/css/font-awesome.css';
.sidebar-nav {
  padding: 9px 0;
}
body {
  padding-top: 60px;
}
@media (max-width: 980px) {
  body {
    padding-top: 0px;
  }
  .loading-screen {
    top: 0px;
  }
}
.loading-screen {
  width: 200%;
  height: 200%;
  top: -50%;
  left: -50%;
  background: #333;
  position: fixed;
  overflow: hidden;
  z-index: 10000;
  display: table;
  vertical-align: middle;
}
.loading-screen h3 {
  display: table-cell;
  text-align: center;
  font-size: 200%;
  vertical-align: middle;
  color: #fff;
  text-shadow: 0px 2px 3px #000;
}
#open-modal.modal {
  -webkit-transition: transform 0.3s, opacity 0.3s linear, top 0.3s ease-out;
  -moz-transition: transform 0.3s, opacity 0.3s linear, top 0.3s ease-out;
  -o-transition: transform 0.3s, opacity 0.3s linear, top 0.3s ease-out;
  -ms-transition: transform 0.3s, opacity 0.3s linear, top 0.3s ease-out;
  transition: transform 0.3s, opacity 0.3s linear, top 0.3s ease-out;
  -webkit-transition: -webkit-transform 0.3s, opacity 0.3s linear, top 0.3s ease-out;
}
#open-modal.dropbox {
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -o-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}
.hidden-true {
  display: none !important;
}
.textedit-input {
  margin: 0px !important;
}
.multi-input {
  margin: 0px !important;
}
.sortarrow i {
  -webkit-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  -moz-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  -o-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
}
th:hover .sortarrow i,
.sortarrow:hover i {
  -webkit-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  -moz-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  -o-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5;
}
