@import '../components/bootstrap/css/bootstrap.css';
@import '../components/bootstrap/css/bootstrap-responsive.css';
@import '../components/font-awesome/css/font-awesome.css';
.sidebar-nav {
  padding: 9px 0;
}
body {
  padding-top: 60px;
}
@media (max-width: 980px) {
  body {
    padding-top: 0px;
  }
  .loading-screen {
    top: 0px;
  }
}
@media screen {
  .print-only {
    display: none !important;
  }
}
@media print {
  .dont-print {
    display: none !important;
  }
  .print-full-width {
    width: 100% !important;
    margin: auto !important;
  }
}
.loading-screen {
  width: 200%;
  height: 200%;
  top: -50%;
  left: -50%;
  background: #333;
  position: fixed;
  overflow: hidden;
  z-index: 10000;
  display: table;
  vertical-align: middle;
}
.loading-screen h3 {
  display: table-cell;
  text-align: center;
  font-size: 200%;
  vertical-align: middle;
  color: #fff;
  text-shadow: 0px 2px 3px #000;
}
#open-modal.modal {
  -webkit-transition: transform 0.3s, opacity 0.3s linear, top 0.3s ease-out;
  -moz-transition: transform 0.3s, opacity 0.3s linear, top 0.3s ease-out;
  -o-transition: transform 0.3s, opacity 0.3s linear, top 0.3s ease-out;
  -ms-transition: transform 0.3s, opacity 0.3s linear, top 0.3s ease-out;
  transition: transform 0.3s, opacity 0.3s linear, top 0.3s ease-out;
  -webkit-transition: -webkit-transform 0.3s, opacity 0.3s linear, top 0.3s ease-out;
}
#open-modal.dropbox {
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -o-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}
.hidden-true {
  display: none !important;
}
.textedit-input {
  margin: 0px !important;
}
.multi-input {
  margin: 0px !important;
}
.sortarrow i.arrow {
  display: none;
}
th:hover .sortarrow i.arrow,
.sortarrow:hover i.arrow {
  -webkit-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  -moz-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  -o-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5;
  display: inline-block;
}
.muted-true {
  -webkit-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  -moz-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  -o-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5;
}
.text-center {
  text-align: center;
}
.editable-table td.controls,
.editable-table th.controls {
  width: 15px;
  vertical-align: middle;
}
.editable-table .controls i {
  font-size: 130%;
}
.editable-table td {
  vertical-align: middle;
}
.auto-width {
  width: auto;
}
.a-width {
  width: auto !important;
}
.highlight-button {
  -webkit-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=20);
  -moz-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=20);
  -o-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=20);
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=20);
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=20);
  opacity: 0.2;
}
.highlight-button:hover {
  -webkit-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  -moz-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  -o-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5;
}
.highlight-button.edit-true {
  -webkit-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  -moz-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  -o-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  opacity: 0.6;
}
.highlight-button.edit-true:hover {
  -webkit-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  -moz-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  -o-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
}
.hlist .item-controls {
  -webkit-transition: width 0.3s;
  -moz-transition: width 0.3s;
  -o-transition: width 0.3s;
  -ms-transition: width 0.3s;
  transition: width 0.3s;
  width: 0px;
  overflow: hidden;
  display: inline-block;
  cursor: default;
}
.hlist .item-controls.enabled-true {
  width: 15px;
}
.hlist .item.moveable-true {
  cursor: move;
}
.inline {
  display: inline-block;
}
.valign-middle {
  vertical-align: middle;
}
.pre-space {
  margin-left: 3px;
}
.pre-space-true {
  margin-left: 3px;
}
a.unstyled-link {
  color: #000;
}
a.unstyled-link:hover {
  text-decoration: none;
}
.heading .textedit-label {
  font-size: 36px;
  letter-spacing: -1px;
  font-weight: bold;
  line-height: 1;
}
i.bottom-line {
  position: relative;
  bottom: -1px;
  margin-left: 10px;
  -webkit-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  -moz-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  -o-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  opacity: 0.6;
}
i.bottom-line:hover {
  -webkit-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  -moz-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  -o-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}
.heading table.stats {
  margin-top: 10px;
}
.heading table.stats td {
  padding: 10px 50px 0px 0px;
}
.settings-group div,
label {
  margin: 5px 0px 0px 0px;
}
.remove-round {
  position: relative;
  color: #08c;
  top: 2px;
}
.small-margin {
  margin: 3px;
}
.remove-round:hover {
  text-decoration: none;
}
li.active .remove-round {
  color: #fff;
}
li.active .remove-round:hover {
  color: #005580;
}
