div.open-disclaimer
  div This software is distributed free of charge, but we would kindly ask you, may you decide to use it in your competition, to credit it at the closing ceremony (to spread the word).
  div Disclaimer: This is beta software and will continue to be so until, at least, <a href="http://open.argodebate.ro">ARGO Open 2014</a>. Please report any bugs found <a href="http://github.com/dapetcu21/argotabs/issues">over here</a>
