div(class='context-menu-#{id}').context-menu
  ul(role='menu').dropdown-menu
    - for (var i = 0; i < n; i++) {
      li(data-index='#{i}').hide-row
        a(tabindex='-1')
          i.fa.fa-check-square-o
          span &nbsp;
          span.item-label Row #{i}
    - }
    li.divider
    li.export-csv
      a(tabindex='-1') Export to CSV
