td(id='#{id}').controls.dont-print.dont-export
  i.close.icon-remove

  style
    table.#{tableId} td.squeezedElement,
    table.#{tableId} th.squeezedElement
    {
      width: #{width - 15 - 8 - 8 - 1}px !important;
    }
