th(id="#{id}").controls.dont-print.dont-export
  i.close.fa.fa-fw.fa-cog

  style.
    table.#{tableId} td.squeezedElement,
    table.#{tableId} th.squeezedElement
    {
      width: #{width - 24 - 8 - 8 - 1}px !important;
    }
