tr(ng-repeat='o in getScope().model', ng-init='hover = false; initRepeatScope(this)', ng-click='rowClicked($index)', editable-script-transclude)
tr(ng-show='addLabel').dont-print.dont-export: td(colspan=100): a(tabindex=0, href='', ng-click='addItem()')
  i.fa.fa-fw.fa-plus
  |  {{addLabel}}
style.visible-style
