div(class='hlist-empty').hlist.inline
  div(ng-repeat='hlo in model', class='moveable-{{_reorders && (edit || reordersAlways) && (model.length > 1 || hasGroup)}}').inline-block.item.valign-middle
    div(class='enabled-{{edit}}', ng-show='!removeItemHidden(hlo, $index)').item-controls.valign-middle
      i(ng-click='remove($index)').fa.fa-times-circle.highlight-button
    div(ng-transclude).inline-block.valign-middle.hlist-content
    span(ng-show='!$last') {{separator}}&nbsp;
  .inline.valign-middle
    a(ng-click='add()', ng-show='canAddItem', class='pre-space-{{!!model.length}}', href='', tabindex=0).dont-print.unstyled-link.valign-middle
      i.fa.fa-plus-circle.highlight-button
    i(ng-click='edit = !edit', ng-show='model.length && (!editHidden || edit)', class='edit-{{edit}}').fa.fa-pencil-square.highlight-button.dont-print.edit-button.pre-space.valign-middle
  div(class='hlist-empty-{{model.length == 0}}').placeholder
