span(ng-show='!editing', class='null-{{value == null || value == undefined}}', ng-click="beginEdit()", tabindex=0).multi-label {{getChoiceName(value)}}
select(ng-show='editing', ng-model='value', ng-options="choiceName({o: o}) for o in choices").multi-input
  option(ng-show='!!allowNil', value='') {{allowNil}}

