#open-modal.modal.hide.fade
  .modal-header
    if closeable
      button(type="button", data-dismiss="modal", aria-hidden="true").close &times;
    h3 Open tournament file
  .modal-body
    table#open-modal-table.table.table-hover
      tr#open-modal-add-tr
        td.omodal-add-td
          .omodal-add-div
            #omodal-add-page1.omodal-add-page
              .omodal-add-padding: a(href='#')#omodal-add-a1 
                i.icon-plus
                |  Add tournament
            #omodal-add-page2.omodal-add-page
              .omodal-btn-padding
                button(type='button')#omodal-btn-new.btn
                  i.icon-desktop
                  |  New file
              .omodal-btn-padding
                button(type='button')#omodal-btn-upload.btn
                  i.icon-upload-alt
                  |  Upload
              button.close.pull-right.omodal-btn-close
                i.icon-remove
            #omodal-add-page3.omodal-add-page
            
  if closeable
    .modal-footer
      a(data-dismiss="modal").btn Cancel
      a.btn.btn-primary Do something



:stylus
  #open-modal-table td:first-child
    border-top: 0px

  .omodal-add-td
    width: 100%
    height: 100%
    overflow: hidden
    padding: 0px !important

  .omodal-add-div
    width: 300%

  .omodal-add-page
    width: 33.33%
    vertical-align: middle
    display: inline-block
    position: relative
  
  .omodal-add-padding
    padding: 8px

  .omodal-btn-padding
    padding: 0px 0px 0px 8px
    display: inline-block

  .omodal-btn-close
    margin: 8px 11px 8px 3px
    font-size: 110%

  .omodal-text
    position: absolute
    top: 2px

  .omodal-file-btn
    display: none
    margin: 0px 3px
    font-size: 110%

  .omodal-btn-edit
    font-size: 100%
    position: relative
    top: 1px

  .omodal-btn-remove
    font-size: 110%

  td:hover .omodal-file-btn
    display: inline-block

