#modal-add-local-page3
  input(type='text', placeholder='File name').omodal-text
  .dummy
  button.close.pull-right.omodal-btn-close &times;

:stylus
  .omodal-text
    position: absolute
    top: 2px
    width: 226px

  .dummy
    height: 28px
    display: inline-block

  #modal-add-local-page3 .omodal-btn-close
    top: 5px
