#open-modal.modal.hide.fade.animated
  .modal-header
    if closeable
      button(type="button", data-dismiss="modal", aria-hidden="true").close &times;
    h3 Open tournament file
  .modal-body
    table#open-modal-table.table.table-hover
      tr#open-modal-add-tr
        td.omodal-add-td
          .omodal-add-div
            #omodal-add-page1.omodal-add-page
              .omodal-add-padding: a(href='#')#omodal-add-a1 
                i.icon-plus
                |  Add tournament
            #omodal-add-page2.omodal-add-page
              .omodal-btn-padding
                button(type='button')#omodal-btn-new.btn
                  i.icon-file
                  |  New file
              .omodal-btn-padding
                input(type='file').omodal-file
                button(type='file')#omodal-btn-upload.btn
                  i.icon-upload-alt
                  |  Upload
              button.close.pull-right.omodal-btn-close
                i.icon-remove
            #omodal-add-page3.omodal-add-page
            
  if closeable
    .modal-footer
      a(data-dismiss="modal").btn Cancel



:stylus
  #open-modal
    transition: transform 0.3s

  #open-modal.dropbox
    transform: scale(1.2) 

  #open-modal-table td
    border-top: 0px
    padding: 0px !important

  .omodal-add-td
    width: 100%
    height: 100%
    overflow: hidden

  .omodal-add-div
    width: 300%

  .omodal-add-page
    width: 33.33%
    display: inline-block
    position: relative
  
  .omodal-add-padding
    padding: 10px

  .omodal-btn-padding
    padding: 2px 0px 0px 10px
    display: inline-block

  .omodal-btn-close
    margin: 8px 13px 12px 3px
    font-size: 110%

  .omodal-text
    position: relative
    top: 4px
    left: 5px
    width: 260px

  #omodal-local div .omodal-text
    top: 6px

  #omodal-local button
    position: relative
    top: 2px

  .omodal-control-group
    display: inline-block
    width: 0
    height: 0

  .omodal-file-btn
    display: none
    margin: 0px 3px
    font-size: 110%

  .omodal-btn-edit
    font-size: 100%
    position: relative
    top: 1px

  .omodal-btn-remove
    font-size: 110%

  #omodal-add-page2 .omodal-btn-close
    position: relative
    top: -2px

  td:hover .omodal-file-btn
    display: inline-block

  .omodal-edit-td
    width: 100%
    height: 100%
    overflow: hidden

  .omodal-edit-div
    width: 200%

  .omodal-edit-page
    width: 50%
    display: inline-block
    position: relative

  .omodal-file
    visibility: hidden
    position: absolute
    top: -50
    left: -50

