table#open-modal-table.table.table-hover
  tr#open-modal-add-tr
    td.omodal-add-td
      .omodal-add-div
        #omodal-add-page1.omodal-add-page
          .omodal-add-padding: a#omodal-add-a1 
            i.icon-plus
            |  Add tournament
        #omodal-add-page2.omodal-add-page
          table.center-table
            td
              .omodal-btn-padding
                button(type='button')#omodal-btn-new.btn
                  i.icon-file
                  |  New file
            td
              .omodal-btn-padding
                button(type='file')#omodal-btn-upload.btn
                  i.icon-upload-alt
                  |  Upload
          input(type='file').omodal-file
          button.close.pull-right.omodal-btn-close
            i.icon-remove
        #omodal-add-page3.omodal-add-page
            
:stylus
  #open-modal
    transition: transform 0.3s

  #open-modal.dropbox
    transform: scale(1.2) 

  #open-modal-table td
    border-top: 0px
    padding: 0px !important

  .omodal-add-padding
    padding: 10px

  .omodal-btn-padding
    padding: 0px 0px 0px 10px
    display: inline-block

  .omodal-btn-close
    position: absolute
    right: 13px
    top: 13px
    margin: 0px
    line-height: 0
    font-size: 110%

  .center-table.text-table
    width: 100%

  #open-modal .center-table.text-table td
    padding-right: 60px !important

  .omodal-text
    margin: 0px !important
    width: 100%

  .omodal-control-group
    display: inline-block
    margin: 0px
    width: 100%
    padding-left: 5px
    height: auto

  .omodal-file-btn
    display: none
    margin: 0px 3px
    font-size: 110%

  .omodal-btn-edit
    font-size: 100%
    position: relative
    top: 1px

  .omodal-btn-remove
    font-size: 110%

  td:hover .omodal-file-btn
    display: inline-block

  .omodal-edit-td
    width: 100%
    height: 100%
    overflow: hidden

  .omodal-add-td
    width: 100%
    height: 100%
    overflow: hidden

  .omodal-edit-div
    width: 200%
    height: 42px

  .omodal-add-div
    width: 300%
    height: 42px

  .omodal-edit-page
    width: 50%
    height: 100%
    display: inline-block
    vertical-align: middle
    position: relative

  .omodal-add-page
    width: 33.33%
    height: 100%
    display: inline-block
    vertical-align: middle
    position: relative
  
  .omodal-file
    visibility: hidden
    position: absolute
    top: -50
    left: -50

  table.center-table
    height: 100%
  table.center-table td
    vertical-align: middle

  #omodal-local
    height: 100%

