div(ng-click='toggleSort()').sortarrow.inline
  span(ng-transclude).sortarrow-content
  span &nbsp;
  i(ng-show='ascending', ng-click='toggleSort()').icon-sort-up.dont-print
  i(ng-show='!ascending', ng-click='toggleSort()').icon-sort-down.dont-print
