div(ng-click='toggleSort()').sortarrow.inline
  span(ng-transclude).sortarrow-content
  span(ng-show='!hideArrows') &nbsp;
  i(ng-show='!hideArrows && ascending', ng-click='toggleSort()').arrow.icon-sort-up.dont-print
  i(ng-show='!hideArrows && !ascending', ng-click='toggleSort()').arrow.icon-sort-down.dont-print
