span(ng-click='toggleSort()').sortarrow
  span(ng-transclude)
  span &nbsp;
  i(ng-show='ascending', ng-click='toggleSort()').icon-sort-up
  i(ng-show='!ascending', ng-click='toggleSort()').icon-sort-down
