div(ng-click='beginEdit_()').inline.textedit-cell
  div(tabindex=0).inline.textedit-label {{valueParsed}}
  div.control-group.hidden-true
    input(type='text').textedit-input
  div.inline.textedit-extra {{extra}}
  span(ng-transclude)
