div(ng-transclude, ng-click='beginEdit_()').inline.textedit-cell
  div(ng-show='!editing', tabindex=0).inline.textedit-label {{valueParsed}}
  input(type='text', ng-show='editing', ng-model='valueParsed').textedit-input
  div.inline.textedit-extra {{extra}}
