.view-title, .app-title
  margin-left: -10px !important

.view-arrow
  margin-right: 15px

@media (max-width: 767px)
  .view-brand
    display: none
  li.arrow-nav a
    padding-right: 0px !important
