// Disclaimer

.open-disclaimer
  position: absolute
  width: 100%
  bottom: 0px
  opacity: 0
  color: #eee
  font-size: 1em

.open-disclaimer div
  text-align: center
  margin: 0 5px 10px 5px

.open-disclaimer.in
  opacity: 1

.fade .open-disclaimer
  transition: opacity 0.2s linear

// The loading screen

.loading-screen
  width: 200%
  height: 200%
  top: -50%
  left: -50%
  background: #333333
  position: fixed
  overflow: hidden
  z-index: 10000
  display: table
  vertical-align: middle

#open-modal+.modal-backdrop
#open-tournament-error+.modal-backdrop
  background: #333333

#open-modal+.modal-backdrop.in
#open-tournament-error+.modal-backdrop.in
  opacity: 1

#open-modal-table
  margin-bottom: 0px

.loading-screen h3
  display: table-cell
  text-align: center
  font-size: 200%
  vertical-align: middle
  color: #fff
  text-shadow: 0px 2px 3px #000

#open-modal.modal
  transition: transform 0.3s, opacity 0.3s linear, top 0.3s ease-out
  -webkit-transition: -webkit-transform 0.3s, opacity 0.3s linear, top 0.3s ease-out

#open-modal.dropbox
  transform: scale(1.2)

// The actual modal

#open-modal-table td
  border-top: 0px
  padding: 0px !important

.omodal-add-padding
  padding: 10px

.omodal-btn-padding
  padding: 0px 0px 0px 10px
  display: inline-block

.omodal-btn-close
  position: absolute
  right: 13px
  top: 13px
  margin: 0px
  line-height: 0
  font-size: 110%

.center-table.text-table
  width: 100%

#open-modal .center-table.text-table td
  padding-right: 60px !important

.omodal-text
  margin: 0px !important
  width: 100%

.omodal-control-group
  display: inline-block
  margin: 0px
  width: 100%
  padding-left: 5px
  height: auto

.omodal-file-btn
  display: none
  margin: 0px 3px
  font-size: 110%

.omodal-btn-edit
  font-size: 100%
  position: relative
  top: 1px

.omodal-btn-remove
  font-size: 110%

td:hover .omodal-file-btn
  display: inline-block

.omodal-edit-td
  width: 100%
  height: 100%
  overflow: hidden

.omodal-add-td
  width: 100%
  height: 100%
  overflow: hidden

.omodal-edit-div
  width: 200%
  height: 42px

.omodal-add-div
  width: 300%
  height: 42px

.omodal-edit-page
  width: 50%
  height: 100%
  display: inline-block
  vertical-align: middle
  position: relative

.omodal-add-page
  width: 33.33%
  height: 100%
  display: inline-block
  vertical-align: middle
  position: relative

.omodal-file
  visibility: hidden
  position: absolute
  top: -50
  left: -50

table.center-table
  height: 100%
table.center-table td
  vertical-align: middle

#omodal-local
  height: 100%

