#speaker-rank-table th:nth-child(1)
  width: 35px
#speaker-rank-table th:nth-child(3)
  width: 20%
#speaker-rank-table th:nth-child(4),
#speaker-rank-table th:nth-child(5),
#speaker-rank-table th:nth-child(6),
#speaker-rank-table th:nth-child(7),
#speaker-rank-table th:nth-child(8)
  width: 60px
