#team-rank-table th:nth-child(1)
  width: 35px
#team-rank-table th:nth-child(3)
  width: 20%
#team-rank-table th:nth-child(4),
#team-rank-table th:nth-child(5),
#team-rank-table th:nth-child(6),
#team-rank-table th:nth-child(7),
#team-rank-table th:nth-child(8)
  width: 60px
