@import '../components/bootstrap/css/bootstrap.css'
@import '../components/bootstrap/css/bootstrap-responsive.css'
@import '../components/font-awesome/css/font-awesome.css'

.sidebar-nav
  padding: 9px 0;

body
  padding-top: 60px;

@media (max-width: 980px)
  body
    padding-top: 0px;
  .loading-screen
    top: 0px

@media screen
  .print-only
    display: none !important

@media print
  .dont-print
    display: none !important
  .print-full-width
    width: 100% !important
    margin: auto !important

.full-width
  width: 100%

.loading-screen
  width: 200%
  height: 200%
  top: -50%
  left: -50%
  background: #333333
  position: fixed
  overflow: hidden
  z-index: 10000
  display: table
  vertical-align: middle

.loading-screen h3
  display: table-cell
  text-align: center
  font-size: 200%
  vertical-align: middle
  color: #fff
  text-shadow: 0px 2px 3px #000

#open-modal.modal
  transition: transform 0.3s, opacity 0.3s linear, top 0.3s ease-out
  -webkit-transition: -webkit-transform 0.3s, opacity 0.3s linear, top 0.3s ease-out

#open-modal.dropbox
  transform: scale(1.2)

.hidden-true
  display: none !important

.textedit-input
  margin: 0px !important

.multi-input
  margin: 0px !important

.sortarrow i.arrow
  display: none

th:hover .sortarrow i.arrow, .sortarrow:hover i.arrow
  opacity: 0.5
  display: inline-block

.muted-true
  opacity: 0.5

.text-center
  text-align: center

.editable-table td.controls, 
.editable-table th.controls
  width: 15px
  vertical-align: middle
.editable-table .controls i
  font-size: 130%
.editable-table td
  vertical-align: middle

.auto-width
  width: auto
.a-width
  width: auto !important

.highlight-button
  opacity: 0.2

.highlight-button:hover
  opacity: 0.5

.highlight-button.edit-true
  opacity: 0.6

.highlight-button.edit-true:hover
  opacity: 0.8

.hlist .item-controls
  transition: width 0.3s
  width: 0px
  overflow: hidden
  display: inline-block
  cursor: default

.hlist .item-controls.enabled-true
  width: 15px

.hlist .item.moveable-true
  cursor: move

.inline
  display: inline-block

.valign-middle
  vertical-align: middle

.pre-space
  margin-left: 3px

.pre-space-true
  margin-left: 3px

a.unstyled-link
  color: #000
a.unstyled-link:hover
  text-decoration: none

.heading .textedit-label
  font-size: 36px
  letter-spacing: -1px
  font-weight: bold
  line-height: 1

i.bottom-line
  position: relative
  bottom: -1px
  margin-left: 10px
  opacity: 0.6

i.bottom-line:hover
  opacity: 1
 
.heading table.stats
  margin-top: 10px

.heading table.stats td
  padding: 10px 50px 0px 0px

.settings-group div,label
  margin: 5px 0px 0px 0px

.remove-round
  position:relative
  color: #0088cc
  top: 2px
 
.small-margin
  margin: 3px

.remove-round:hover
  text-decoration: none

li.active .remove-round
  color: #fff

li.active .remove-round:hover
  color: #005580

.rounded-bullets
  border-radius: 14px
  background:linear-gradient(top, #ededed 5%, #dfdfdf 100%)
  box-shadow:inset 0px 1px 0px 0px #ffffff, 0px 1px 0px 0px #bbbbbb
  background-color:#ededed
  border:1px solid #dcdcdc
  color:#777777
  position: relative

  font-size:13px;
  font-weight:normal;
  padding:3px 10px;
  text-decoration:none
  text-shadow:0px 1px 0px #ffffff

.rounded-bullets.pushable:hover
  background:linear-gradient(bottom, #ededed 5%, #dfdfdf 100%)
  background-color:#dfdfdf

.rounded-bullets.red
  background:linear-gradient(top, #d0451b 5%, #bc3315 100%)
  background-color:#d0451b
  border:1px solid #942911
  box-shadow:inset 0px 1px 0px 0px #cf866c
  text-shadow:0px 1px 0px #854629
  color:#ffffff

.rounded-bullets.red.pushable:hover
  background:linear-gradient(bottom, #d0451b 5%, #bc3315 100%)
  background-color:#bc3315

.pairing i.icon-remove-sign
  top:50%
  right: 10px
  position: absolute
  margin-top: -7px

.pairing i.icon-exchange
  top:50%
  right: 25px
  position: absolute
  margin-top: -7px

.pairing .prop
  color: #1e6917

.pairing .opp
  color: #a81313

.pairing .prop-opp
  color: #12588a

.manual-pairings .nopairs
  position: relative

.manual-pairings .nopairs i
  position: absolute
  font-size: 20px
  right: 10px
  top: 50%
  margin-top: -10px

@media (min-width: 767px)
  .manual-pairings .span4,
  .manual-pairings .span8
    overflow-y: auto
    height: 190px
    padding-bottom: 5px

