@import '../components/bootstrap/css/bootstrap.css'
@import '../components/bootstrap/css/bootstrap-responsive.css'
@import '../components/font-awesome/css/font-awesome.css'

.sidebar-nav
  padding: 9px 0;

body
  padding-top: 60px;

@media (max-width: 980px)
  body
    padding-top: 0px;
  .loading-screen
    top: 0px

.loading-screen
  width: 200%
  height: 200%
  top: -50%
  left: -50%
  background: #333333
  position: fixed
  overflow: hidden
  z-index: 10000
  display: table
  vertical-align: middle

.loading-screen h3
  display: table-cell
  text-align: center
  font-size: 200%
  vertical-align: middle
  color: #fff
  text-shadow: 0px 2px 3px #000

#open-modal.modal
  transition: transform 0.3s, opacity 0.3s linear, top 0.3s ease-out
  -webkit-transition: -webkit-transform 0.3s, opacity 0.3s linear, top 0.3s ease-out

#open-modal.dropbox
  transform: scale(1.2)

.hidden-true
  display: none !important

.textedit-input
  margin: 0px !important

.multi-input
  margin: 0px !important

.sortarrow i
  opacity:0

th:hover .sortarrow i, .sortarrow:hover i
  opacity: 0.5
