div.hlist.inline
  div(ng-repeat='hlo in model', class='moveable-{{isMovable()}}').inline-block.item.valign-middle.repeater
    div(hlist-cell-transclude).inline-block.valign-middle.hlist-content
    span(ng-show='!$last') {{separator}}&nbsp;
