.table-widgets .widget-head
  background-color: blue-color

.table-widgets .widget-row
  background-color: red-color 

.table-widgets .widget
  color: #ffffff
  width: 0px
  padding-left: 7px
  overflow: hidden
  transition: width 0.2s ease
  position: absolute

.table-widgets .widget:hover
  width: 25px

.table-widgets .widget i.fa
  top: 50%
  margin-top: -7px
  position: absolute

