#round-judges-table th:nth-child(1)
  width: 15px
#round-judges-table th:nth-child(2)
  width: 10px
#round-judges-table th:nth-child(3)
  width: 30%
#round-judges-table th:nth-child(5)
  width: 10%
  
#round-teams-table th:nth-child(1)
  width: 15px
#round-teams-table th:nth-child(2)
  width: 10px
#round-teams-table th:nth-child(3)
  width: 40%
#round-teams-table th:nth-child(3)
  width: 40%

#round-pairings-table th:nth-child(1)
  width: 15px
#round-pairings-table th:nth-child(2)
  width: 10%
#round-pairings-table th:nth-child(3)
  width: 20%
#round-pairings-table th:nth-child(4)
  width: 20%
#round-pairings-table th:nth-child(6)
  width: 70px

#round-rooms-table th:nth-child(1)
  width: 15px
#round-rooms-table th:nth-child(2)
  width: 10px
