#teams-table th:nth-child(1)
  width: 35px
#teams-table th:nth-child(2)
  width: 20%
#teams-table th:nth-child(3)
  width: 10%

#teams-table > tbody > tr > td       .hlist-controls .edit-button
  display: none

#teams-table > tbody > tr > td:hover .hlist-controls .edit-button
#teams-table > tbody > tr > td       .hlist-controls .edit-button.edit-true
  display: inline-block

#teams-table .hlist .repeater:last-child
  margin-right: 3px 

.pre-space
  margin-left: 3px
