#roles-table th:nth-child(1)
  width: 50px
#roles-table th:nth-child(2),
#roles-table th:nth-child(3),
#roles-table th:nth-child(4),
#roles-table th:nth-child(5)
  width: 127px

#votes-table th:nth-child(1)
  width: 20px
#votes-table th:nth-child(2)
  width: 100px
#votes-table th:nth-child(3),
#votes-table th:nth-child(4),
#votes-table th:nth-child(5),
#votes-table th:nth-child(6),
#votes-table th:nth-child(10),
#votes-table th:nth-child(11),
#votes-table th:nth-child(12),
#votes-table th:nth-child(13)
  width: 25px
#votes-table th:nth-child(7),
#votes-table th:nth-child(9)
  width: 30px
#votes-table th:nth-child(8)
  width: 40px

#votes-table td.valid-false
  background-color: #b94a48
  color: #ffffff

#votes-table td.valid-false .textedit-cell.invalid .textedit-label
  color: #ffffff

input[type="checkbox"].presence-check
  margin: 0px 5px 0px 0px

#votes-table .textedit-input
  padding: 6px

.icon-dobitoc
  color: #b94a48
  margin-left: 3px
