.pair-settings
  .checkbox + .checkbox, .radio + .radio
    margin-top: 0px

.checkbox > input
  position: relative !important
  margin-left: 0px !important
  top: -1px !important

.checkbox > span + input
  position: relative !important
  margin-left: 5px !important
  top: -1px !important

.checkbox > input + span
  margin-left: 5px

.pair-select
  margin-bottom: 10px !important