div.open-disclaimer
  div Disclaimer: This is software is distributed without any warranty. It should be production ready and has been tested in several real-world tournaments. Nevertheless, please report any bugs you find <a href="http://github.com/dapetcu21/argotabs/issues">here</a>.
  div This software is distributed free of charge, but we would kindly ask you, may you decide to use it in your competition, to mention it at the closing ceremony so as to spread the word about it in the debate community.
