div(ng-controller='LoadingCtrl', ng-show="!loaded || loadingTournament").loading-screen
    h3
      i.fa.fa-spinner.fa.fa-spin.fa.fa-large
      | &nbsp; Loading...

div(ng-if='!loadingTournament && tournamentLoaded', ng-controller='AppCtrl')
  .navbar.navbar-default.navbar-fixed-top.dont-print
    .container-fluid
      div.navbar-header.inline-block
        span.arrow-nav
          a.action-open.navbar-brand
            i.fa.fa-arrow-left.view-arrow
            span.view-brand ARGO Tabs
            
        ul.nav.navbar-nav.inline-block
          li.divider-vertical
            a(href="#").navbar-brand.view-title {{tournament.name}}

      .btn-group.pull-right
        button(data-loading-text="Saving...", data-saved-text="Saved").btn.navbar-btn.btn-info.action-save.view-save
          span Save
        button(data-toggle="dropdown").btn.navbar-btn.btn-info.dropdown-toggle.view-save
          span.caret
        ul.dropdown-menu
          li.action-saveas-local
            a(tabindex='-1').action-saveaslocal Save a copy
          li.action-saveas-download
            a(tabindex='-1').action-download Download
          li.action-saveas-download-censored
            a(tabindex='-1').action-download-censored Download censored copy
              
  .container-fluid
    .row
      .col-sm-2.dont-print
        #sidebar-nav
            
      div(ng-view).col-sm-10.print-full-width
