#omodal-local
  table.center-table.text-table
    td
      .form-group.omodal-control-group
        input(type='text', placeholder='File name').omodal-text.form-control
  button.close.pull-right.omodal-btn-close
    i.fa.fa-times

