table#open-modal-table.table.table-hover
  tr#open-modal-add-tr
    td.omodal-add-td
      .omodal-add-div
        #omodal-add-page1.omodal-add-page
          .omodal-add-padding: a#omodal-add-a1 
            i.fa.fa-fw.fa-plus
            |  Add tournament
        #omodal-add-page2.omodal-add-page
          table.center-table
            td
              .omodal-btn-padding
                button(type='button')#omodal-btn-new.btn.btn-default
                  i.fa.fa-fw.fa-file
                  |  New file
            td
              .omodal-btn-padding
                button(type='file')#omodal-btn-upload.btn.btn-default
                  i.fa.fa-fw.fa-upload
                  |  Upload
          input(type='file').omodal-file
          button.close.pull-right.omodal-btn-close
            i.fa.fa-fw.fa-times
        #omodal-add-page3.omodal-add-page
