
<table id="clubs-table" class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>#</th>
      <th>
        Name
        &nbsp;
        <sort-arrow model="ui.tournament.clubs" sort-by="o.name"></sort-arrow>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="club in ui.tournament.clubs" ng-init="hover = false" ng-mouseenter="hover = true" ng-mouseleave="hover = false">
      <td>{{$index}} </td>
      <td colspan="{{noColumns(hover)}}">
        <div text-edit-cell="text-edit-cell" text-edit-bind="club.name"></div>
      </td>
      <td class="hidden-{{!hover}} controls"> <i ng-click="removeClub($index)" class="close icon-remove"></i></td>
    </tr>
    <tr>
      <td colspan="3"><a tabindex="0" href="" ng-click="addClub()"><i class="icon-plus"></i> Add club</a></td>
    </tr>
  </tbody>
</table><style type="text/css">#clubs-table th:first-child {
  width: 35px;
}
#clubs-table td.controls {
  width: 10px;
}
#clubs-table td.controls i {
  font-size: 130%;
}
#clubs-table td {
  vertical-align: middle;
}
</style>