<h3 class="print-only text-center">{{tournament.name}} - Clubs</h3><table editable-table="editable-table" reorders="reorders" model="tournament.clubs" visible="tournament.tableOpts.clubs" add-item="addClub()" remove-item="removeClub(index)" id="clubs-table"><thead><tr><th data-auto-index='4'>#</th><th data-auto-index='1'><sort-arrow model="tournament.clubs" sort-by="o.name">Name</sort-arrow></th><th data-auto-index='3'><sort-arrow model="tournament.clubs" sort-by="o.teams.length"># Teams</sort-arrow></th><th data-auto-index='2'><sort-arrow model="tournament.clubs" sort-by="o.judges.length"># Judges</sort-arrow></th></tr></thead><tbody editable-tbody="editable-tbody" add-item-label="Add club"><script type="text/html"><td>{{$index + 1}} </td><td> <text-edit-cell bind="o.name"></text-edit-cell></td><td>{{o.teams.length}}</td><td>{{o.judges.length}}</td></script></tbody></table><style type="text/css">#clubs-table th:nth-child(1) {
  width: 35px;
}
#clubs-table th:nth-child(3) {
  width: 15%;
}
#clubs-table th:nth-child(4) {
  width: 15%;
}
</style>