
<div class="well well-large">
  <div class="heading">
    <text-edit-cell bind="tournament.name" class="heading"><i class="icon-edit bottom-line"></i></text-edit-cell>
    <table class="stats">
      <tr>
        <td>Teams: {{tournament.teams.length}}</td>
        <td>Judges: {{tournament.judges.length}}</td>
      </tr>
      <tr>
        <td>Debaters: {{tournament.players.length}}</td>
        <td>Rounds: {{tournament.rounds.length}}</td>
      </tr>
    </table>
  </div>
</div>
<div class="row-fluid"> 
  <div class="span6">
    <div class="well settings-group"><strong>Global settings</strong>
      <div><span>Ballots per match: </span>
        <text-edit-cell bind="tournament.ballotsPerMatch" input-width="50" pattern="[0-9]*" setter="parseInt(o)"><i class="icon-edit bottom-line"></i></text-edit-cell>
      </div>
      <div><span>Min. played rounds to reach speaker tab: </span>
        <text-edit-cell bind="tournament.minPlayed" input-width="50" pattern="[0-9]*" setter="parseInt(o)"><i class="icon-edit bottom-line"></i></text-edit-cell>
      </div>
    </div>
    <div class="well pair-rules-group"><strong>Pairing rank criteria</strong></div>
  </div>
  <div class="well judge-rules-group span6"><strong>Judging assignment rules </strong></div>
</div>