
<h3 class="print-only text-center">{{tournament.name}} - Teams</h3>
<table editable-table="editable-table" reorders="reorders" model="tournament.teams" visible="tournament.tableOpts.teams" add-item="addTeam()" remove-item="removeTeam(index)" id="teams-table">
  <thead>
    <tr>
      <th data-auto-index='4'>#</th>
      <th data-auto-index='3'>
        <sort-arrow model="tournament.teams" sort-by="o.name">Team name</sort-arrow>
      </th>
      <th data-auto-index='2'>
        <sort-arrow model="tournament.teams" sort-by="eliminateNil(o.club.name)">Club</sort-arrow>
      </th>
      <th data-auto-index='1'>Members</th>
    </tr>
  </thead>
  <tbody editable-tbody="editable-tbody" add-item-label="Add team">
    <script type="text/html">
      <td>{{$index + 1}}</td>
      <td>
        <text-edit-cell bind="o.name"></text-edit-cell>
      </td>
      <td ng-init="initRepeat(this)">
        <multi-cell bind="o.club" choices="tournament.clubs" nil-placeholder="unaffiliated" choice-name="o.name"></multi-cell>
      </td>
      <td ng-mouseenter="playerHover = true" ng-mouseleave="playerHover = false">
        <hlist-cell bind="o.players" add-item="o.addPlayer()" remove-item="o.removePlayerAtIndex(index)" separator="," edit-hidden="!playerHover" reorders="reorders">
          <text-edit-cell bind="hlo.name"></text-edit-cell>
        </hlist-cell>
      </td>
    </script>
  </tbody>
</table><style type="text/css">#teams-table th:nth-child(1) {
  width: 35px;
}
#teams-table th:nth-child(2) {
  width: 20%;
}
#teams-table th:nth-child(3) {
  width: 10%;
}
</style>