
<h3 class="print-only text-center">{{tournament.name}} - Teams</h3>
<table editable-table="editable-table" model="tournament.teams" add-item="addTeam()" remove-item="removeTeam(index)" id="teams-table">
  <thead>
    <tr>
      <th>#</th>
      <th>
        <sort-arrow model="tournament.teams" sort-by="o.name">Team name</sort-arrow>
      </th>
      <th>
        <sort-arrow model="tournament.teams" sort-by="eliminateNil(o.club.name)">Club</sort-arrow>
      </th>
    </tr>
  </thead>
  <tbody editable-tbody="editable-tbody" add-item-label="Add team">
    <script type="text/html">
      <td>{{$index + 1}}</td>
      <td>
        <div text-edit-cell="text-edit-cell" text-edit-bind="o.name"></div>
      </td>
      <td ng-init="initRepeat(this)">
        <div multi-cell="multi-cell" multi-bind="o.club" multi-choices="tournament.clubs" multi-allow-nil="unaffiliated" multi-choice-name="o.name"></div>
      </td>
    </script>
  </tbody>
</table><style type="text/css">#teams-table th:nth-child(2) {
  width: 30%;
}
</style>