h3.print-only.text-center {{tournament.name}} - Teams
table(editable-table, reorders='true', model='tournament.teams', visible='tournament.tableOpts.teams', add-item='addTeam()', can-remove-item='canRemoveTeam(o)', remove-item='removeTeam(index)')#teams-table
  thead
    tr
      th(data-auto-index=4) #
      th(data-auto-index=3)
        sort-arrow(model='tournament.teams', sort-by='o.name') Team name
      th(data-auto-index=2)
        sort-arrow(model='tournament.teams', sort-by='eliminateNil(o.club.name)') Club
      th(data-auto-index=1)
        | Members
  tbody(editable-tbody, add-item-label='Add team')
    script(type='text/html')
      td {{$index + 1}}
      td
        text-edit-cell(bind='o.name', delayed-write)
      td
        multi-cell(bind='o.club', choices='tournament.clubs', nil-placeholder='unaffiliated', choice-name='o.name')
      td(ng-controller='EditableController')
        hlist-cell(bind='o.players', separator=',', reorders='true')
          div(class='enabled-{{editPlayers}}', ng-show='canRemovePlayer(hlo)').item-controls.valign-middle
            i(ng-click='removePlayer(o, $index)').fa.fa-times-circle.highlight-button
          text-edit-cell(bind='hlo.name', delayed-write)
        .inline.valign-middle.hlist-controls
          a(ng-click='addPlayer(o)', href='', tabindex=0).dont-print.unstyled-link.valign-middle
            i.fa.fa-plus-circle.highlight-button
          i(ng-click='editPlayers = !editPlayers', ng-show='o.players.length', class='edit-{{editPlayers}}').fa.fa-pencil-square.highlight-button.dont-print.edit-button.pre-space.valign-middle  
