tr
  td.omodal-edit-td
    .omodal-edit-div
      .omodal-edit-page
        .omodal-add-padding
          a(href="#").omodal-a
            != icon + " "
            span.omodal-label= name
          button.close.pull-right.omodal-file-btn.omodal-btn-delete
            i.fa.fa-times
          button.close.pull-right.omodal-file-btn.omodal-btn-edit
            i.fa.fa-pencil-square-o
      .omodal-edit-page
        table.center-table.text-table
          td
            .control-group.omodal-control-group
              input(type='text', placeholder='File name').omodal-text
        button.close.pull-right.omodal-btn-close
          i.fa.fa-times

